# node / python / env
node_modules/
dist/
.env
*.db
*.db-shm
*.db-wal
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints

# frontend build
frontend/.vite
frontend/.next
frontend/build

# docker
*.log

.vscode